.css-cella{
    color: rgb(220, 226, 230);
    background-color: rgb(46, 160, 75);
    font-size: 2em;
    margin: 10px;
    padding: 20px;
    width: 30px;
    display: inline-block;
    text-align: center;
    font-weight: bold;
}
#tombola{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 1600px;
}
h1{
    color: blue;
    text-align: center;
    font-size: 3em;
    font-weight: bold;
}
button {
    background-color: rgb(0, 191, 255);
    padding: 10px;
    color: white;
    font-size: 2em;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    display: block;
    margin-bottom: 30px;
}
